In [1]:
import pandas as pd
from nltk.tokenize import word_tokenize as wt 
from nltk.corpus import stopwords

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
from nltk.stem import wordnet
from nltk.stem import WordNetLemmatizer
import spacy
nlp = spacy.load("en_core_web_sm")
lemmatizer = WordNetLemmatizer()

In [4]:
df_qs= pd.read_csv('questions.csv',header=0)
df_qs.head(2)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0

In [5]:
new_qs_df = df_qs.sample(100000)
new_qs_df.drop(['id'],axis=1,inplace=True)

In [6]:
def remove_stopwords(text):
    stopWords = set(stopwords.words('english'))
    words = wt(text)
    filtered_words = [word for word in words if word.lower() not in stopWords]
    return ' '.join(filtered_words)

In [7]:
new_qs_df['question1']=new_qs_df['question1'].apply(lambda x: str(x).replace('.', '').replace(',', '').replace("'", '').replace('"', '').replace('-',' ').replace('&','and').replace('?',''))
new_qs_df['question2']=new_qs_df['question2'].apply(lambda x: str(x).replace('.', '').replace(',', '').replace("'", '').replace('"', '').replace('-',' ').replace('&','and').replace('?',''))

In [8]:
new_qs_df['question1']=new_qs_df['question1'].apply(lambda x:remove_stopwords(x))
new_qs_df['question2']=new_qs_df['question2'].apply(lambda x:remove_stopwords(x))

In [9]:
new_qs_df

,qid1,qid2,question1,question2,is_duplicate
87369,173497,173498,intellectual connection,intellectual,0
52614,28382,104702,anal sex painful tips reducing eliminating pain,reduce pain eyes,0
198915,392565,392566,far light travel nanosecond,far light torch light reach,0
293860,577282,577283,get friend 18th birthday,best ways celebrate 18th birthday,0
215416,88956,424779,one good husband,become good husband,1
...,...,...,...,...,...
39702,79086,79087,Spotify available India,Spotify : Spotify available India reasons unav...,1
358473,701988,701989,best ways build Memory Palace,develop mind palace,0
162995,322239,322240,get single room 81 CGPA VIT yes block prefer (...,good N block VIT Vellore get pics rooms N Block,0
12383,24724,24725,best ways meet single women San Francisco,good ways meet single women besides bars clubs...,1
378407,740156,740157,like expert something,expert,0

In [10]:
# print(new_qs_df['question1'][243945]," || ",new_qs_df['question2'][243945])

<h1>New Features</h1>
<h3>feature engineering</h3>
<li>total characters</li>
<li>total words</li>
<li>Common word count</li>
<li>sentence character Length diffrence </li>
<li>difference in number of words</li>

In [11]:
def total_characters(text):
    return len(text)
def total_words(text):
    return len(text.split())
def common_words(text):
    return len(set(text['question1'].split()) & set(text['question2'].split()))
# print(common_words(new_qs_df[243945]))
# print(total_words(new_qs_df['question1'][152007]),' ',total_words(new_qs_df['question2'][152007]))

In [12]:
new_qs_df['total_common_words']=new_qs_df.apply(lambda x:common_words(x),axis=1)

In [13]:
new_qs_df['total_characters_q1']=new_qs_df['question1'].apply(lambda x:total_characters(x))
new_qs_df['total_characters_q2']=new_qs_df['question2'].apply(lambda x:total_characters(x))
new_qs_df['total_words_q1']=new_qs_df['question1'].apply(lambda x:total_words(x))
new_qs_df['total_words_q2']=new_qs_df['question2'].apply(lambda x:total_words(x))
# new_qs_df['total_common_words']=new_qs_df[['question1','question2']].apply(lambda x,y:common_words(x,y))

In [14]:
new_qs_df

,qid1,qid2,question1,question2,is_duplicate,total_common_words,total_characters_q1,total_characters_q2,total_words_q1,total_words_q2
87369,173497,173498,intellectual connection,intellectual,0,1,23,12,2,1
52614,28382,104702,anal sex painful tips reducing eliminating pain,reduce pain eyes,0,1,47,16,7,3
198915,392565,392566,far light travel nanosecond,far light torch light reach,0,2,27,27,4,5
293860,577282,577283,get friend 18th birthday,best ways celebrate 18th birthday,0,2,24,33,4,5
215416,88956,424779,one good husband,become good husband,1,2,16,19,3,3
...,...,...,...,...,...,...,...,...,...,...
39702,79086,79087,Spotify available India,Spotify : Spotify available India reasons unav...,1,3,23,56,3,7
358473,701988,701989,best ways build Memory Palace,develop mind palace,0,0,29,19,5,3
162995,322239,322240,get single room 81 CGPA VIT yes block prefer (...,good N block VIT Vellore get pics rooms N Block,0,3,59,47,13,10
12383,24724,24725,best ways meet single women San Francisco,good ways meet single women besides bars clubs...,1,6,41,60,7,10
378407,740156,740157,like expert something,expert,0,1,21,6,3,1

In [15]:
def lemma(text):
    lemm = [word.lemma_ for word in nlp(text)]
    return ' '.join(lemm)

In [16]:
new_qs_df['question1']=new_qs_df['question1'].apply(lambda x:lemma(x))
new_qs_df['question2']=new_qs_df['question2'].apply(lambda x:lemma(x))

In [17]:
# new_qs_df['question1']=new_qs_df['question1'].apply(lambda x: wt(x))
# new_qs_df['question2']=new_qs_df['question2'].apply(lambda x: wt(x))

In [18]:
ques=list(new_qs_df['question1'])+list(new_qs_df['question2'])

In [19]:
import numpy as np

In [20]:
cv = CountVectorizer(max_features=3000)
q1_ar,q2_ar = np.vsplit(cv.fit_transform(ques).toarray(),2)

In [21]:
tdf1=pd.DataFrame(q1_ar,index=new_qs_df.index)
tdf2=pd.DataFrame(q2_ar,index=new_qs_df.index)
tdf = pd.concat([tdf1,tdf2],axis=1)

In [22]:
final_df = new_qs_df.drop(columns=['qid1','qid2','question1','question2'])

In [23]:
# tdf.shape

In [24]:
final_df=pd.concat([final_df, tdf], axis=1)
final_df.shape

(100000, 6006)

In [25]:
# final_df.sample(5)

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(final_df.iloc[:,1:].values,final_df.iloc[:,0].values,test_size=0.3,random_state=1)

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7810666666666667

In [28]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.7600333333333333

In [29]:
import pickle

In [30]:
with open('Quora_rfmodel.pkl', 'wb') as f:
    pickle.dump(rf, f)
with open('Quora_XGBmodel.pkl', 'wb') as f:
    pickle.dump(xgb, f)